  *{
     margin: 0;
     padding: 0;
  }
  .header{
     background-position: center;
     background-size: cover;
     position: relative; 
     width: 100%;
    min-height: 100vh;
  }
  nav{
     
     display: flex;
     padding: 2% 6%;
     justify-content: space-between;
     flex-direction:  column-reverse;
     align-items: center;
  }
  .nav-links{
     flex: 1;
     text-align: right;
  }
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}
.nav-links ul li a{
   color: black;
   text-decoration: none;
   font-size: 18px;

}
.nav-links ul li
