  *{
     margin: 0;
     padding: 0;
  }
  .header{
     background-position: center;
     background-size: cover;
     position: relative; 
     width: 100%;
    min-height: 100vh;
  }
  nav{
     
     display: flex;
     padding: 2% 6%;
     justify-content: space-between;
     flex-direction:  column-reverse;
     align-items: center;
  }
  .nav-links{
     flex: 1;
     text-align: right;
  }
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}
.nav-links ul li a{
   color: black;
   text-decoration: none;
   font-size: 18px;

}
.nav-links ul li::after{
   content: '';
   width: 0%;
   height: 2px;
   background: blue;
   display: block;
   margin: auto;
   transition: 0.5s;
}
.nav-links ul li:hover::after {
   width: 100% ;
}
.text-box {
   width: 90%;
   color: #EAAB1B;
   text-align: left;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50);
}p,h2{
   color: black;
}
.hero-btn{
    display: inline block;
    text-decoration: none;
    color:black;
    padding: 12px 34px ;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
   border: 1px solid chartreuse;
   background: chartreuse;
}